services:
  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    ports:
      - 4321:4321
    environment:
      - NODE_ENV=production
    depends_on:
      - api
  api:
    build:
      context: ./services/api
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/hidden_gems
    depends_on:
      - postgres
  postgres:
    image: pgvector/pgvector:pg17
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=hidden_gems
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: